RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
SetEnvIf X-Forwarded-Proto "https" HTTPS=on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
Redirect 301 /images/aymon-ros-beiaard-bier-logo-2017.png https://www.aymon.be/images/aymon-2020-bottle-glass-1200.jpg
Redirect 301 /images/ros-beiaard-bierproevers-logo-woordmerk-negative.png https://www.rosbeiaardbierproevers.be/images/ros-beiaard-bierproevers-logo-words-multi-line-positive.jpg
Redirect 301 /images/ros-beiaard-bierproevers-default-open-graph.jpg https://www.aymon.be/images/aymon-open-graph-bottle-glass-2020.jpg
Redirect 301 /images/ros-beiaard-bierproevers-traced-framed.png https://www.rosbeiaardbierproevers.be/images/ros-beiaard-bierproevers-traced-framed.png
Redirect 301 / https://www.aymon.be/